* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spacing-between {
    justify-content: space-between;
}

.flex-col-center-baseline {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.flex-row-center-baseline {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.r10 {
    border-radius: 10px;
}

.card-container {
    width: 260px;
    padding: 0px 16px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.116);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.219);
    border-radius: 4px;
}

.img-container {
    width: 97%;
    height: 157px;
    background-color: white;
    margin-top: 12px;
}

a.disabled {
    display: none;
}



.space-evenly {
    justify-content: space-evenly;
}


.sep {
    width: 100%;
    margin: 8px 0px;
    opacity: 0.5;
}


.price-container {
    width: 100%;
}


.rating-container {
    width: 50px;
    height: 16px;
}

.rating-number>p {
    width: 32px;
    height: 20px;
    background-color: #E63946;
    color: white;
    padding: 2px;
}

.like-counter {
    width: 50px;
    height: 16px;
}

.like-counter>p {
    width: 32px;
    height: 20px;
    background-color: #E63946;
    color: white;
    padding: 2px;
}

.star-icon {
    width: 16px;
    height: 16px;
}

.desc-container {
    padding: 0px 4px;
    margin: 8px 0px;
    margin-top: 2px;
    text-decoration: none;
}

.truncated {
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.whatsapp-logo {
    width: 36px;
    height: 36px;
}


.share-btn {
    width: 100%;
    padding: 4px 0px;
    margin: 4px 0px;
    margin-bottom: 12px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(71, 71, 71, 0.301);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    color: black;
}

.share-btn:hover {
    cursor: pointer;
}

.font17 {
    font-size: 17px;
}

.font14 {
    font-size: 14px;
}

.img-inner-container {
    position: relative;
    width: 174px;
    height: 157px;
}

.img-inner-container>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.overlay {
    position: absolute;
    top: -32px;
    left: -92px;
    background-color: rgb(255, 255, 255);
    color: white;
    opacity: 0;
    transition: all 0.3s ease;
}

.overlay-img {
    width: 64px;
    height: 64px;
    object-fit: contain;
    border-width: 1px;
    border-color: black;
    border-style: ridge;
    margin: 4px 8px;
}

.img-container:hover .overlay {
    opacity: 1;
}