body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    flex: 3;
    background-color: rgb(245, 245, 245);
    margin-bottom: 1rem;
}

hr {
    width: 100%;
}

.main-outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    background-color: white;
    border-radius: 5px;
    padding: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
    height: 120%;
    box-shadow: 5px 4px 10px #e2e2e2;

}

.form-container * {
    margin-top: 0.55rem;
    margin-bottom: 0.55rem;
}

footer {
    flex: 1;
    width: 75%;
}

.row-left-aligned {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: baseline;
    flex-wrap: wrap;
}

.row-left-aligned * {
    margin-top: 0;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    color: rgb(78, 78, 78);

}

.row-left-aligned *:hover {
    color: rgb(0, 0, 0);
}


.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}


.logo-container {
    width: 25%;
}


.logo-container img {
    width: 50%;
}





#logo-text {
    font-size: 1.70rem;
    font-weight: 400;
}

#reg-button {
    width: 60%;
    height: 15%;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(50, 196, 50);
    color: white;
    font-weight: bold;
    font-size: 0.85rem;
}

#reg-button:hover {
    background-color: rgb(40, 156, 40);
}

.field-button {
    width: 100%;
    height: 15%;
    background-color: rgb(0, 132, 255);
    border-style: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    font-size: 1.15rem;
}

.field-button:hover {
    background-color: rgb(0, 107, 207);
}

.input-field {
    background-color: white;
    border-color: rgba(226, 226, 226, 0.418);
    border-style: groove;
    border-radius: 5px;
    width: 100%;
    height: 15%;
}

#forgot-pass-text {
    font-weight: 500;
    color: rgb(0, 132, 255);
}

#forgot-pass-text:hover {
    color: rgb(1, 77, 148);
}