body {
    display: flex;
    flex-direction: column;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;

}

.flexbox-column-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexbox-row-left-aligned {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: baseline;
    gap: 10px;
    flex-wrap: wrap;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(242, 244, 247);
    gap: 80px;
    padding-bottom: 112px;
    padding-top: 108px;
}


.logo-div {
    align-items: baseline;
    margin-bottom: 84px;
}

.logo-div img {
    min-width: 250px;
    max-width: 320px;
    padding: 0;
    margin: -70px;
}

.logo-div p {
    font-size: 28px;
    min-width: 460px;
    max-width: 500px;

}

.login-div {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 24px;
    padding-bottom: 10px;
    background-color: white;
    text-align: center;
    gap: 16px;
    padding-bottom: 24px;
    min-width: 340px;
    max-width: 390px;
    border-radius: 6px;
    box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.10);
}

.login-div p {
    padding: 0;
    margin: 0;
}



.login-div hr,
button {
    width: 100%;

}

.login-div button {
    padding: 14px 16px;
    font-size: 20px;
    background-color: rgba(8, 102, 255);

}

#reg-button {
    width: 70%;
    font-size: 17px;
    background-color: rgba(66, 183, 42)
}

#reg-button:hover {
    background-color: rgb(50, 141, 32)
}

.login-div button {
    border-style: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
}

.login-div button:hover {
    background-color: rgb(8, 82, 201);
}


a {
    text-decoration: none;
    color: rgba(8, 102, 255);
}



.login-div input {
    padding: 14px 16px;
    width: 90%;
    font-size: 17px;
    border-color: rgba(194, 194, 194, 0.459);

    border-radius: 6px;
    border-width: 1px;
}

#post-forms-text {
    margin-top: 28px;
    min-width: 300px;
    max-width: 390px;
    text-align: center;
}

footer {
    height: 30vh;
}

.footer-div {
    margin-top: 20px;
    min-width: 940px;
    max-width: 980px;
    font-size: 12px;
    color: rgb(165, 165, 165);

}

.footer-div p {
    padding: 0;
    margin: 0;
}

.footer-div hr {
    opacity: 0.5;
}

.footer-div hr {
    margin-top: 8px;
    margin-bottom: 8px;
}

.footer-div button {
    width: min-content;
}

#footer-copyright {
    margin-top: 48px;
}

.footer-row {
    gap: 6px;
}