* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.flex-col.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row-center-wrapped {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    align-items: center;
}


app-product-card {
    display: flex;
    width: fit-content;
}

.body-text {
    text-align: center;
    padding: 48px 32px;
}

.outer-margin {
    display: flex;
    justify-content: space-around;
    padding: 0px 32px;
}

.btn-return {
    margin: 48px;
    padding: 16px;
}