<app-category-menu (filtersChanged)="filterProducts($event)"></app-category-menu>

<div class="outer-margin">
    <div class="flex-row-center-wrapped">

        @for (productInstance of productList(); track productInstance.id){
        @if(productInstance.visible){
        <app-product-card [product]="productInstance" (deleteClicked)="deleteProduct($event)"
            (likeClicked)="likeProduct($event)"></app-product-card>
        }
        }

        @if (this.productList().length === 0){
        <h2>Товаров с данными фильтрами не существует.</h2>
        }

    </div>
</div>

<div class="flex-row-center-wrapped">
    <button class="btn-return" (click)="this.storageService.restoreDefaults()"> Восстановить товары по
        умолчанию</button>
</div>