.overlay-fg {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.075);
    backdrop-filter: blur(2px);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 9999;
    color: rgb(255, 198, 91);
    text-decoration: overline;
    text-decoration: underline;
}

.m128 {
    margin: 128px;
}